<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ecoandrichtest.employeedetails.mapper.EmployeeDetailsMapper">
    <select id="findByEmployeeId" parameterType="java.util.Map" resultType="com.example.ecoandrichtest.employeedetails.vo.EmployeesDetailsVo">
        select *
        from emp_details_view em_de
        where em_de.employee_id = #{empId}
    </select>
</mapper>