<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ecoandrich_test.employee.repo.EmpMybatisRepo">

    <select id="getLogin" parameterType="java.util.Map" resultType="com.example.isaacwebproject.member.vo.Member">
        select *
        from member
        where ID = #{ID}
          and PW = #{PW}
    </select>

    <!--<select id="getUserById" parameterType="java.util.Map" resultType="com.example.isaacwebproject.login.vo.LoginVO">-->

    <!--    select *-->
    <!--    from member-->
    <!--    where ID = #{ID}-->

    <!--</select>-->

</mapper>